#/etc/systemd/system/preventivas.timer

[Unit]
Description=Executa o servico de preventivas do GLPI diariamente as 22:00

[Timer]
# *-*-* significa "Todos os Anos - Todos os Meses - Todos os Dias"
OnCalendar=*-*-* 22:00:00

# Isso garante que, se o servidor estiver desligado às 22:00, o script rodará imediatamente assim que ele for ligado no dia seguinte.
Persistent=true

[Install]
WantedBy=timers.target